/* Square.css */
.square {
  width: 100%;
  padding-top: 100%; /* Maintain a 1:1 aspect ratio by setting padding-top */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-align: center;
  transition: background-color 0.3s ease;
  position: relative;
}

/* Define the default colors */
.black {
  background-color: grey;
  color: lightgrey;
}

.white {
  background-color: lightgrey;
  color: grey;
}

/* Change colors on hover (highlight) */
.square:hover {
  background-color: yellow;
}

.selected {
  background-color: cyan;
  color: orange;
}

.selected:hover {
  background-color: cyan;
}

/* Style for the chess piece */
.piece {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-align: center;
}
